/* The secret sauce that enables gradient rotation */
@property --border-angle-1 {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

@property --border-angle-2 {
  syntax: "<angle>";
  inherits: true;
  initial-value: 90deg;
}

@property --border-angle-3 {
  syntax: "<angle>";
  inherits: true;
  initial-value: 180deg;
}

.animated-button {
  --bright-blue: rgb(0, 100, 255);
  --bright-green: rgb(0, 255, 0);
  --bright-red: rgb(255, 0, 0);
  --border-size: 2px;
  --border-radius: 0.75em;

  --border-angle-1: 0deg;
  --border-angle-2: 90deg;
  --border-angle-3: 180deg;
  
  padding: var(--border-size);
  border-radius: var(--border-radius);
  background-color: transparent;
  background-image: 
    conic-gradient(
      from var(--border-angle-1) at 10% 15%,
      transparent,
      var(--bright-blue) 10%,
      transparent 30%,
      transparent
    ),
    conic-gradient(
      from var(--border-angle-2) at 70% 60%,
      transparent,
      var(--bright-green) 10%,
      transparent 60%,
      transparent
    ),
    conic-gradient(
      from var(--border-angle-3) at 50% 20%,
      transparent,
      var(--bright-red) 10%,
      transparent 50%,
      transparent
    );
  animation: 
    rotateBackground 3s linear infinite,
    rotateBackground2 8s linear infinite,
    rotateBackground3 13s linear infinite;
}

.button-content {
  background: #000;
  padding: 1em 1.5em;
  border-radius: calc(var(--border-radius) - var(--border-size));
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes rotateBackground {
  to { --border-angle-1: 360deg; }
}

@keyframes rotateBackground2 {
  to { --border-angle-2: -270deg; }
}

@keyframes rotateBackground3 {
  to { --border-angle-3: 540deg; }
}

@supports (color: color(display-p3 1 1 1)) {
  .animated-button {
    --bright-blue: color(display-p3 0 0.2 1);
    --bright-green: color(display-p3 0.4 1 0);
    --bright-red: color(display-p3 1 0 0);
  }
} 